/data.json
/dssat/migrations
/.idea
/.ipynb_checkpoints/
/fordjangoapp.ipynb
/DiegoCode.ipynb
/dssat/.ipynb_checkpoints
/dssat/__pycache__
.idea/
# Ignore compiled Python files
*.pyc

# Ignore static files directory
static/
db.sqlite3